@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Confecciones El Condor</h1>
    <p>https://www.newsoft.com.co/</p>
</div>
<li class="nav-item">
    <a class="btn btn-primary" asp-area="" asp-controller="Empleados" asp-action="Index">Tabla de empleados</a>
</li>